html { 
  background: url('https://i.imgur.com/mZoqNhu.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-top: 3rem;
  color: #333333;
  }


  html, body {
    margin: 0;
    height: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }


  input.back-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #494949;
    background-color: #4eb5f100;
    text-align: center;
    transition: all 0.2s;
    }

    input.back-btn:hover {
     background-color:#a5d6f3;
    }

  @media all and (max-width: 30em) {
    input.back-tn {
      display: block;
      margin: 0.2em auto;
    }
  }

  /* Navbar styling */
  #bg-dark {
    background-color: #292929;
  }

  #main-nav {
    margin-left: 100px;
  }

  #sub-nav {
    margin-right: 100px;
  }

  /* Home Page Styling */
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url('https://i.imgur.com/EfKaWRp.jpg');
    background-size: cover;
  }


  /* Content Styling */
  #content-box {
    background-color: rgba(244, 245, 245, 0.555);
    height: 100%;
  }

  #meta {
    color: rgb(41, 41, 41);
  }
  
  #meta a {
    color:rgb(80, 80, 80);
  }

  #meta a:hover {
    color:rgb(24, 24, 24);
  }


  /* Old - To delete later

    .navbar {
    position: absolute;
    background-color: #3b3737 !important;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.274);
  }

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #6d6d6d !important;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #3f3f3f !important;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  */