body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  .navbar {
    position: absolute;
    background-color: #3b3737 !important;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.274);
  }

  .bg-gradient {
    /* fallback for old browsers */
    background: #ff9a9e;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 154, 158, 1), rgba(250, 208, 196, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 154, 158, 1), rgba(250, 208, 196, 1));

  }

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #6d6d6d !important;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #3f3f3f !important;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  input.back-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #494949;
    background-color: #4eb5f100;
    text-align: center;
    transition: all 0.2s;
    }

    input.back-btn:hover {
     background-color:#a5d6f3;
    }

  @media all and (max-width: 30em) {
    input.back-tn {
      display: block;
      margin: 0.2em auto;
    }
  }
