{% load static %}
<!DOCTYPE html>
<html>
  
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>


<body>
  <div class="uk-section" id="navigation-section" style="margin-bottom: -150px;">
    <div class="uk-container uk-container-center uk-margin-top">
      <header>
        <nav class="uk-position-top uk-navbar-container uk-dark" id="bg-dark" uk-navbar>

          <div class="uk-navbar-left" id="main-nav">
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'blog-home' %}">Home</a></li>
                <li><a href="{% url 'blog-about' %}">About</a></li>
                <li><a href="{% url 'blog-blog' %}">Blog</a></li>
            </ul>
          </div>

          <div class="uk-navbar-right" id="sub-nav">
            <ul class="uk-navbar-nav">
              <li><a uk-icon="icon: github" href="#"></a></li>
              <li><a uk-icon="icon: linkedin" href="#"></a></li>
            </ul>
          </div>

        </nav>
      </header>
    </div> 
  </div> 

    <main role="main">
          {% block content %}{% endblock %}
    </main>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>