{% extends "blog/base.html" %}

{% block content %}
{% for post in posts %}
<div class="uk-section uk-section-muted uk-width-auto" id="content-box" style="margin-top: 70px;">
    <div class="uk-container uk-container-center"> 
            <article class="uk-article">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2 class="uk-article-title"><a class="uk-link-reset" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="uk-article-meta" id="meta">Written by <a href="#">{{ post.author }}</a> on {{ post.date_posted|date:"d F, Y"}}.</p>
                        <hr>
                    </div>
                    <p class="article-content">{{ post.content|truncatewords:"100"|safe }}</p>

                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                            <a class="uk-button uk-button-text" href="{% url 'post-detail' post.id %}">Read more</a>
                        </div>
                    </div>
                </div>
            </article>
    </div>
</div>

{% endfor %}
{% endblock content %}