{% extends "blog/base.html" %}

{% block content %}

<div class="welcome-section" id="welcome-section">
    <div class="uk-align-left uk-position-small uk-position-center-left" style="padding-left: 500px">
        <h1>Hello</h1>
        <p>My name is pippi</p>
    </div>
</div>

<div class="uk-section uk-section-muted uk-width-auto" id="content-box">
    <div class="uk-container uk-container-center">
        <div class="uk-child-width-expand@s uk-text-center uk-grid-small uk-grid-match" uk-grid>
           <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2>Blog Landing Page</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie velit quis nibh eleifend
                        varius.
                        Morbi eget tortor dignissim, sollicitudin massa id, euismod ligula. Duis maximus dolor velit, sit
                        amet
                        pulvinar erat vestibulum et. Duis tristique turpis a feugiat gravida. Ut non nibh lobortis,
                        sollicitudin
                        lectus a, blandit dolor. Nam et lacus felis. Proin tempus erat at nibh commodo, eu euismod sem
                        aliquet.
                        Pellentesque ullamcorper neque nunc, eget laoreet justo sollicitudin laoreet. Lorem ipsum dolor sit
                        amet,
                        consectetur adipiscing elit. Ut in metus diam. </p>
                </div>
           </div> 
            <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h2>Other blog things</h2>
                        <p>Mauris tristique tristique nisi eu pretium. Nulla ornare tempus mi in ornare. Orci varius natoque
                            penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum
                            primis in
                            faucibus. Morbi vitae orci at tellus sagittis pharetra. Pellentesque tempus congue arcu, ac
                            porttitor tortor
                            scelerisque vel. Maecenas dolor neque, lacinia nec velit et, eleifend finibus tellus. Proin euismod
                            magna ut
                            quam porttitor maximus. Praesent tincidunt scelerisque orci, quis fringilla leo convallis sit amet.
                            Aenean
                        </p>
                    </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2>Pippi's favourite food</h2>
                    <p>is turkey kibble!
                    </p>
                </div>
        </div>

        </div>

    </div>
</div>

{% endblock content %}