{% extends "blog/base.html" %}

{% block content %}

<div class="welcome-section" id="welcome-section">
    <div class="uk-align-left uk-position-small uk-position-center-left" style="padding-left: 500px">
        <h1>peepee poopoo</h1>
        <p>pippi atomic poopoo</p>
    </div>
</div>

<div class="uk-section uk-section-muted uk-width-auto" id="content-box">
<div class="uk-container uk-container-center"> 
        <h1>Blog Landing Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie velit quis nibh eleifend varius.
            Morbi eget tortor dignissim, sollicitudin massa id, euismod ligula. Duis maximus dolor velit, sit amet
            pulvinar erat vestibulum et. Duis tristique turpis a feugiat gravida. Ut non nibh lobortis, sollicitudin
            lectus a, blandit dolor. Nam et lacus felis. Proin tempus erat at nibh commodo, eu euismod sem aliquet.
            Pellentesque ullamcorper neque nunc, eget laoreet justo sollicitudin laoreet. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Ut in metus diam. </p>
        <br>
        <p>Mauris tristique tristique nisi eu pretium. Nulla ornare tempus mi in ornare. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Morbi vitae orci at tellus sagittis pharetra. Pellentesque tempus congue arcu, ac porttitor tortor
            scelerisque vel. Maecenas dolor neque, lacinia nec velit et, eleifend finibus tellus. Proin euismod magna ut
            quam porttitor maximus. Praesent tincidunt scelerisque orci, quis fringilla leo convallis sit amet. Aenean
            ultricies, velit quis sodales pharetra, ante tellus posuere orci, sed efficitur nisi leo vitae tellus.
            Vestibulum purus felis, faucibus sit amet enim a, mollis vestibulum orci. In porta eleifend est, id dapibus
            metus. Quisque et tortor at metus pulvinar rutrum. Pellentesque varius lectus aliquet nisl semper, eu dictum
            nulla facilisis. Donec sapien neque, ullamcorper non nisl vestibulum, feugiat cursus ipsum. Aenean commodo
            erat a magna interdum sollicitudin. </p>
            </div>
            </div>
            
{% endblock content %}