{% extends "blog/base.html" %}
<!-- 'object' is the generic name for objects in the class DetailView -->
{% block content %}
<div class="uk-section uk-section-muted uk-width-auto" id="content-box">
    <div class="uk-container uk-container-center"> 
        <article class="media content-section">
            <div class="media-body">
                <h2 class="article-title">{{ object.title }}</h2>
                <div class="article-metadata">
                    <p class="uk-article-meta" id="meta">Written by <a href="#">{{ post.author }}</a> on {{ post.date_posted|date:"d F, Y"}}.</p>
                </div>
                <hr class="uk-divider-icon">
                
                <p class="article-content">{{ object.content|safe }}</p>
                <input type=button class="back-btn" value="Back" onClick="javascript:history.go(-1);">

            </div>
        </article>
    </div>
</div>
{% endblock content %}